
{% block footer %}
    <footer class="bg-black fixed-bottom" style="position: relative;">
        <div class="container p-5">
            <div class="text-center text-white">
                <a href="" class="text-decoration-none">
                    <i class='bx bxl-twitter' style='color:#ffffff'></i>
                </a>
                <a href="" class="text-decoration-none">
                    <i class='bx bxl-facebook-circle' style='color:#ffffff'></i>
                </a>
                <a href="" class="text-decoration-none">
                    <i class='bx bxl-instagram' style='color:#ffffff'></i>
                </a>
            </div>
            <p class="m-0 text-center text-white small">Copyright &copy; DOSSA 2022</p>
        </div>
    </footer>
{% endblock %}
