{% block footer %}

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted pt-1">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class='bx bx-dumbbell'></i>DOSSA GYM
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Enlaces de interés
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Política de privacidad</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Avíso legal</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Política de cookies</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Política de calidad</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            CONTACTO
                        </h6>
                        <p><i class="fas fa-home me-3"></i>Carmona, Sevilla (41410), ES</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            contacto@dossa.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i>954 564 89</p>
                        <p><i class="fas fa-print me-3"></i>954 564 89</p>
                    </div>
                </div>
            </div>
        <div class="text-center text-white fs-4">
            <a href="" class="text-decoration-none">
                <i class='bx bxl-twitter' style='color:#ffffff'></i>
            </a>
            <a href="" class="text-decoration-none">
                <i class='bx bxl-facebook-circle' style='color:#ffffff'></i>
            </a>
            <a href="" class="text-decoration-none">
                <i class='bx bxl-instagram' style='color:#ffffff'></i>
            </a>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            DOSSA 2022 © Copyright
        </div>
    </footer>
{% endblock %}
