{% extends 'base.html.twig' %}
{% block body %}
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">¡Descubre nuestros Centros Deportivos!</h1>
                <h2 class="masthead-subheading mb-0">Invierte en calidad de vida</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Saber más</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..."/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Sistema integrado de gestión de la calidad y medioambiente</h2>
                        <p>Todo el sistema de gestión de la calidad y medio ambiente de DOSSA, ha sido desarrollado bajo
                            un enfoque en procesos, entendiendo como procesos todas aquellas actividades en las que se
                            relacionan diferentes departamentos de la empresa con el fin de transformar algún tipo de
                            entradas y salidas, ya sean iniciales, intermedias o finales de la cadena productiva y en
                            donde están incluidos también los aspectos ambientales asociados a éstas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..."/></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">El valor de las personas</h2>
                        <p>Promover el mantenimiento del empleo, favoreciendo la posibilidad de que las personas puedan
                            acceder a un puesto de trabajo y fomentando su desarrollo profesional y personal, todo ello
                            con la premisa de la igualdad de oportunidades de hombres y mujeres en todos los niveles de
                            la empresa, un 63,50% de la plantilla son mujeres.

                            Más allá de su actividad, AOSSA está comprometida con la mejora de la calidad de vida, la
                            integración social y la sensibilización de sus trabajadores y trabajadoras, así como de los
                            usuarios y usuarias destinatarios de sus servicios.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..."/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Transformación cultural</h2>
                        <p>La cultura empresarial es el conjunto de valores, creencias, normas y reglas,
                            comportamientos, símbolos y filosofía de la empresa, y más en concreto el estilo de
                            dirección, la forma de asignar los recursos, la forma de organizarse y comunicarse, y los
                            sistemas de reconocimiento y motivación. En un entorno como el actual es imprescindible que
                            una empresa tenga una cultura que ayude a afrontar los desafíos exigentes de una nueva
                            realidad necesaria, impuesta o repentina.
                            Esta nueva realidad puede venir inducida por una necesidad de cambio provocada por una
                            situación crítica en el desempeño y resultados de una organización o empresa, una necesidad
                            de crecimiento y expansión o una fusión o adquisición de otra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->


{% endblock %}