
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="position: relative;">
        <div class="container px-5">
            <a class="navbar-brand" href="/">DOSSA GYM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% if not app.user %}
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item"><a class="nav-link" href="{{ path ('app_gimnasio') }}">Reservar</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Actividades</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MONITOR') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path ('app_salas') }}">Asistencia</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path ('app_salas') }}">Crear salas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path ('app_actividadescrear') }}">Crear actividades</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
